@use '../../../scss/base/colors' as c;

.pack-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  button {
    aspect-ratio: 1/1.6;
    width: 240px;

    border-radius: 0.4rem;
    border: 1px solid;

    border-color: transparent;
    background: linear-gradient(45deg, c.$color-neutral-1200 0%, c.$color-neutral-1100 60%);

    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      filter: brightness(2);
      transform: translateY(-0.8rem);
      animation: none;
    }

    background: url('/pack.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    animation-name: levitate;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  button:nth-of-type(2) {
    animation-delay: 0.4s;
  }

  button:nth-of-type(3) {
    animation-delay: 0.6s;
  }
  button:nth-of-type(4) {
    animation-delay: 0.2s;
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.64rem);
  }
  100% {
    transform: translateY(0);
  }
}
