@use '../../../scss/base/colors' as c;

.pack-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    aspect-ratio: 1/1.4;
    width: 240px;

    border-radius: 0.4rem;
    border: 1px solid;

    border-color: c.$color-neutral-900;
    background: linear-gradient(
      45deg,
      c.$color-neutral-1200 0%,
      c.$color-neutral-1100 60%
    );

    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      filter: brightness(1.6);
      transform: translateY(-1rem);
    }
  }
}
