@use '../../scss/base/font' as f;

.unbox-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;

  &__title {
    font-family: f.$font-primary;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
  }

  .loader {
    position: absolute;
    inset: 0;
    top: 5rem;
  }
}
