@use '../../scss/base/font' as f;
@use '../../scss/base/media-queries' as *;

.unbox-page {
  position: relative;
  display: flex;
  flex-direction: column;

  gap: 2rem;

  &__title {
    font-family: f.$font-primary;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;

    @include media-query($breakpoint-md) {
      font-size: 1.6rem;
      align-items: start;
    }
  }

  .loader {
    position: absolute;
    inset: 0;
    top: 5rem;

    @include media-query($breakpoint-md) {
      top: 50%;
      transform: translateX(-50%);
    }
  }
}
