@use '../../../scss/base/font' as f;
@use '../../../scss/base/media-queries' as *;

.pack-lock-timer {
  display: flex;
  align-items: center;

  &__remaining {
    width: 100%;
    text-align: center;
    font-size: 6.4rem;
    font-weight: 600;
    font-family: f.$font-primary;
    font-variant-numeric: tabular-nums;

    @include media-query($breakpoint-md) {
      font-size: calc(8vw + 2rem);
      align-items: start;
    }
  }
}
