@use '../../scss/base/font' as f;
@use '../../scss/base/colors' as c;

.sticker-detail {
  &__overlay {
    position: fixed;
    inset: 0;

    display: grid;
    place-items: center;

    background-color: hsla(0, 0%, 0%, 0.6);
    backdrop-filter: blur(0.2rem);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    width: 480px;
    min-height: 200px;

    padding: 2.4rem;
    border: 1px solid;
    border-radius: 0.64rem;

    border-color: c.$color-neutral-1100;
    background-color: hsl(c.$hue-primary, 12%, 6%, 0.88);

    &.special {
      .heading-box {
        .title-box .id {
          color: hsl(40, 50%, 70%);
          background-color: hsl(40, 80%, 40%, 0.2);
          outline: 1px solid hsl(40, 50%, 70%, 0.3);
        }
        .category {
          color: hsl(40, 8%, 48%);
        }
      }
      .detail-box {
        .detail-brick a {
          color: hsl(50, 88%, 72%);
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__info-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .category {
      font-size: 0.9rem;
      font-weight: 300;
      font-style: italic;
      text-transform: capitalize;

      color: c.$color-neutral-800;
    }
  }

  &__title-box {
    display: flex;
    align-items: center;
    gap: 0.64rem;
  }

  &__id {
    display: grid;
    place-items: center;
    padding: 0.1rem 0.3rem;
    border-radius: 0.1rem;

    font-size: 0.88rem;
    font-style: italic;

    color: c.$color-neutral-400;
    background-color: c.$color-neutral-1200;
  }

  &__title {
    font-family: f.$font-primary;
    text-transform: capitalize;
  }

  &__close-btn {
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    width: 1.6rem;

    font-size: 1.4rem;
    border: none;
    border-radius: 0.2rem;

    color: c.$color-neutral-400;
    background-color: c.$color-neutral-1200;

    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }
  }

  &__detail-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.8rem;

    width: 100%;

    &--character {
      grid-template-columns: repeat(3, 1fr);
    }

    &--spaceship {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__detail-brick {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    border-radius: 0.2rem;

    font-size: 0.9rem;
    color: c.$color-neutral-800;

    &--full-span {
      display: flex;
      flex-direction: column;
      grid-column: 1/3;

      line-height: 1.5;
    }

    &--two-span {
      grid-column: span 2;
    }

    strong {
      color: c.$color-neutral-200;
    }
    a {
      color: c.$color-primary-400;
    }
  }
}
