@use '../../../scss/base/colors' as c;
@use '../../../scss/base/font' as f;

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4rem;
  padding: 1rem 20%;

  border-bottom: 1px solid c.$color-neutral-1200;

  &__title {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1;
    font-style: italic;
    font-family: f.$font-primary;

    color: c.$color-neutral-600;

    &::first-line {
      font-size: 0.92rem;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 900;
      color: c.$color-neutral-200;
    }
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    list-style: none;

    a {
      padding: 0.2rem 0.64rem;
      border-radius: 0.2rem;

      font-family: f.$font-primary;
      text-transform: uppercase;
      font-size: 0.8rem;

      text-decoration: none;
      color: c.$color-neutral-600;
      transition: all 0.4s ease;

      &.active {
        color: c.$color-neutral-200;
        background-color: c.$color-neutral-1150;
      }
    }
  }
}
