@use '../../../scss/base/colors' as c;

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4rem;
  padding: 1rem 16%;

  background-color: c.$color-neutral-1200;

  &__title {
    font-size: 1.2rem;
    color: c.$color-neutral-200;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    list-style: none;

    a {
      padding: 0.2rem 0.4rem;
      border-radius: 0.2rem;

      text-decoration: none;
      color: c.$color-neutral-500;

      &.active {
        background-color: c.$color-neutral-1100;
      }
    }
  }
}
