@use '../../../scss/base/colors' as c;

.opened-pack {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;

  margin: 0 auto;

  width: 240px;
  height: 450px;

  .sticker-card {
    position: absolute;
    top: 4rem;
    left: 50%;

    width: 100%;

    transition: transform 0.3s ease-out;
    transform: translateX(-50%);
  }

  &__button {
    display: grid;
    place-items: center;

    border: 1px solid;
    outline: 1px solid;
    outline-offset: 2px;
    border-radius: 0.2rem;
    padding: 0.64rem;

    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;

    &.--add {
      $hue: 150;
      border-color: hsl($hue, 100%, 70%);
      outline-color: hsl($hue, 60%, 35%);
      background: linear-gradient(to bottom, hsl($hue, 16%, 8%) 0%, hsl($hue, 40%, 20%) 200%);
    }

    &.--discard {
      $hue: 350;
      border-color: hsl($hue, 100%, 70%);
      outline-color: hsl($hue, 60%, 35%);
      background: linear-gradient(to bottom, hsl($hue, 16%, 8%) 0%, hsl($hue, 40%, 20%) 200%);
    }
  }
}

.opened-pack .sticker-card:nth-child(1) {
  transform: translateY(-4rem) translateX(-50%);
}
.opened-pack .sticker-card:nth-child(2) {
  transform: translateY(-3rem) translateX(-50%);
}
.opened-pack .sticker-card:nth-child(3) {
  transform: translateY(-2rem) translateX(-50%);
}
.opened-pack .sticker-card:nth-child(4) {
  transform: translateY(-1rem) translateX(-50%);
}
.opened-pack .sticker-card:nth-child(5) {
  transform: translateY(-0rem) translateX(-50%);
}
