@use '../../../scss/base/colors' as c;
@use '../../../scss/base/font' as f;

.opened-pack {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;

  margin: 0 auto;

  width: 240px;
  height: 260px;

  .sticker-card {
    position: absolute;
    top: 4.8rem;
    left: 50%;
    opacity: 0;

    aspect-ratio: 2/1;
    width: 100%;

    transition: transform 0.3s ease-out;
    transform: translateX(-50%);
    filter: drop-shadow(0px 0px 1rem hsl(0, 0%, 8%, 0.4));
  }

  &__button {
    display: grid;
    place-items: center;

    border: 1px solid;
    outline: 1px solid;
    outline-offset: 2px;
    border-radius: 0.2rem;
    padding: 0.64rem;

    font-family: f.$font-primary;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;

    opacity: 0;

    animation: fade-in 0.6s 1.2s ease-in-out forwards;

    &.--add {
      $hue: 150;
      border-color: hsl($hue, 100%, 70%);
      outline-color: hsl($hue, 60%, 35%);
      background: linear-gradient(to bottom, hsl($hue, 16%, 8%) 0%, hsl($hue, 40%, 20%) 200%);
    }

    &.--discard {
      $hue: 350;
      border-color: hsl($hue, 100%, 70%);
      outline-color: hsl($hue, 60%, 35%);
      background: linear-gradient(to bottom, hsl($hue, 16%, 8%) 0%, hsl($hue, 40%, 20%) 200%);
    }
  }
}

.opened-pack .sticker-card:nth-of-type(5) {
  z-index: 0;
  transform: translateY(-4.8rem) translateX(-50%);
  animation: fall-and-fade-5 0.8s 0.8s ease-in-out forwards;
}
.opened-pack .sticker-card:nth-of-type(4) {
  z-index: 1;
  transform: translateY(-3.6rem) translateX(-50%);
  animation: fall-and-fade-4 0.8s 0.6s ease-in-out forwards;
}
.opened-pack .sticker-card:nth-of-type(3) {
  z-index: 2;
  transform: translateY(-2.4rem) translateX(-50%);
  animation: fall-and-fade-3 0.8s 0.4s ease-in-out forwards;
}
.opened-pack .sticker-card:nth-of-type(2) {
  z-index: 3;
  transform: translateY(-1.2rem) translateX(-50%);
  animation: fall-and-fade-2 0.8s 0.2s ease-in-out forwards;
}
.opened-pack .sticker-card:nth-of-type(1) {
  z-index: 4;
  transform: translateY(0) translateX(-50%);
  animation: fall-and-fade-1 0.8s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fall-and-fade-5 {
  0% {
    transform: translateY(-10rem) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(-4.8rem) translateX(-50%);
    opacity: 1;
  }
}

@keyframes fall-and-fade-4 {
  0% {
    transform: translateY(-10rem) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(-3.6rem) translateX(-50%);
    opacity: 1;
  }
}

@keyframes fall-and-fade-3 {
  0% {
    transform: translateY(-10rem) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(-2.4rem) translateX(-50%);
    opacity: 1;
  }
}

@keyframes fall-and-fade-2 {
  0% {
    transform: translateY(-10rem) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(-1.2rem) translateX(-50%);
    opacity: 1;
  }
}

@keyframes fall-and-fade-1 {
  0% {
    transform: translateY(-10rem) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}
