.album-category {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__title {
    font-size: 2.4rem;
    text-transform: capitalize;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;

    list-style: none;

    li {
      aspect-ratio: 1/1.4;
      // background-color: red;
    }
  }
}
