@use '../../../scss/base/colors' as c;

.album-slot {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  height: 100%;

  padding: 1rem;
  border: 1px solid;
  border-radius: 0.4rem;

  border-color: c.$color-neutral-1200;
  background-color: c.$color-neutral-1200;
  box-shadow: inset 0 0 2rem 0.4rem c.$color-neutral-1300;

  &.--empty {
    p {
      margin: auto;

      font-size: 2.4rem;
      font-weight: 500;
      color: c.$color-neutral-900;
    }
  }
}
