@use '../../../scss/base/colors' as c;
@use '../../../scss/base/font' as f;

.album-slot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;
  height: 100%;

  padding: 0.8rem;
  border: 1px solid;
  border-radius: 0.32rem;

  border-color: c.$color-neutral-1200;
  background-color: c.$color-neutral-1200;
  box-shadow: inset 0 0 2rem 0.4rem c.$color-neutral-1300;

  &__id {
    margin: auto;

    font-size: 2.4rem;
    font-weight: 500;
    font-family: f.$font-primary;

    color: c.$color-neutral-900;
  }
}

a {
  text-decoration: none;
}
