@use '../../../scss/base/colors' as c;

.album-slot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;
  height: 100%;

  padding: 0.8rem;
  border: 1px solid;
  border-radius: 0.32rem;

  border-color: c.$color-neutral-1200;
  background-color: c.$color-neutral-1200;
  box-shadow: inset 0 0 2rem 0.4rem c.$color-neutral-1300;

  &__id {
    margin: auto;

    font-size: 2.4rem;
    font-weight: 500;
    color: c.$color-neutral-900;
  }
}

// Slot lleno
.album-slot--filled {
  font-size: 0.8rem;
  box-shadow: none;

  .album-slot__header {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .album-slot__id {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
  }

  .album-slot__title {
    font-weight: 500;
  }

  .album-slot__rarity {
    font-style: italic;
    text-transform: capitalize;
  }
}

// Slot regular
.album-slot--regular {
  background: c.$slot-regular-gradient;
  border-color: c.$color-neutral-800;

  .album-slot__id,
  .album-slot__title,
  .album-slot__rarity {
    color: c.$color-neutral-200;
  }
}

// Slot especial
.album-slot--special {
  background: c.$slot-special-gradient;
  border-color: hsl(50, 32%, 48%);

  .album-slot__id,
  .album-slot__title,
  .album-slot__rarity {
    color: c.$color-neutral-200;
  }
}

a {
  text-decoration: none;
}
