@use './base/font' as f;
@use './base/colors' as c;
@use './base/media-queries' as *;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

//

html {
  width: 100%;
  min-height: 100dvh;

  color-scheme: light dark;
  font-family: f.$font-secondary;
}

body,
#root {
  min-height: 100dvh;
}

body {
  overflow-y: scroll;
}

// body::-webkit-scrollbar {
//   display: none;
//   width: 0;
//   height: 0;
// }

// App

main {
  display: flex;
  flex-direction: column;

  padding: 4rem 20%;

  @include media-query($breakpoint-md) {
    padding-inline: 12%;
  }
}
