@use './base/font' as f;
@use './base/colors' as c;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

//

html {
  width: 100%;
  min-height: 100dvh;

  color-scheme: light dark;
  font-family: f.$font-primary;
}

body,
#root {
  min-height: 100dvh;
}

// App

main {
  display: flex;
  flex-direction: column;

  padding: 4rem 16%;
}

// PAGES

.unbox-page {
  display: flex;
  flex-direction: column;
}

.sticker-detail__overlay {
  position: fixed;
  inset: 0;

  display: grid;
  place-items: center;

  background-color: hsla(0, 0%, 0%, 0.4);
  backdrop-filter: blur(0.2rem);

  .sticker-content {
    aspect-ratio: 1/1.2;
    height: 60%;

    padding: 2rem;
    border: 1px solid;
    border-radius: 0.64rem;

    border-color: c.$color-neutral-1100;
    background-color: hsl(c.$hue-primary, 12%, 6%, 0.88);

    &__header {
      display: flex;
      align-items: start;
      justify-content: space-between;

      .heading-box {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        .title-box {
          display: flex;
          align-items: center;
          gap: 0.32rem;

          span {
            display: grid;
            place-items: center;
            padding: 0.1rem 0.3rem;
            border-radius: 0.1rem;

            font-size: 0.88rem;
            font-style: italic;

            color: c.$color-neutral-400;
            background-color: c.$color-neutral-1200;
          }
        }

        .category {
          font-size: 0.9rem;
          font-weight: 300;
          font-style: italic;
          text-transform: capitalize;

          color: c.$color-neutral-800;
        }
      }
    }

    .close-btn {
      display: grid;
      place-items: center;
      aspect-ratio: 1/1;
      width: 1.6rem;

      border: none;
      border-radius: 0.2rem;

      color: c.$color-neutral-400;
      background-color: c.$color-neutral-1200;

      &:hover {
        cursor: pointer;
        filter: brightness(1.2);
      }
    }
  }
}
