@use '../../../scss/base/colors' as c;
@use '../../../scss/base/font' as f;

.sticker-card {
  aspect-ratio: 2/1;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;

  padding: 0.8rem;
  border: 1px solid;
  border-radius: 0.32rem;

  font-size: 0.9rem;

  border-color: c.$color-neutral-1200;
  background-color: c.$color-neutral-1200;
  box-shadow: inset 0 0 2rem 0.4rem c.$color-neutral-1300;

  box-shadow: none;

  .sticker-card__header {
    display: flex;
    align-content: center;
    justify-content: space-between;

    width: 100%;
  }

  .sticker-card__id {
    font-size: 1.2rem;
    line-height: 0.9;
    font-weight: 400;
    margin: 0;
    font-family: f.$font-primary;
  }

  .sticker-card__title {
    font-weight: 500;
    font-family: f.$font-primary;
    text-align: end;
  }

  .sticker-card__rarity {
    font-style: italic;
    text-transform: capitalize;
  }
}

// regular
.sticker-card--regular {
  background: c.$slot-regular-gradient;
  border-color: c.$color-neutral-800;

  .sticker-card__id,
  .sticker-card__title,
  .sticker-card__rarity {
    color: c.$color-neutral-200;
  }
}

// especial
.sticker-card--special {
  background: c.$slot-special-gradient;
  border-color: hsl(50, 32%, 48%);

  .sticker-card__id,
  .sticker-card__title,
  .sticker-card__rarity {
    color: c.$color-neutral-200;
  }
}
